@model com.cake_lovers.www.Models.Contato

@{
    ViewData["Title"] = "Contato";
}

<h5 class="display-6"><span class="display-6 text-info"><i class="fa fa-solid fa-person"></i> Deletar Contato </span></h5>


<p> Deseja deletar o Contato <b> @Model.Nome </b> feito em @Model.Date com a seguinte mensagem: @Model.Mensagem</p>

<br />
<a class="btn btn-primary" title="Voltar" asp-action="GetAllContatos" asp-controller="Admin" ><i class="fa fa-arrow-circle-left"></i> Voltar</a>
<a class="btn btn-danger" title="Deletar" asp-action="DeletarContato" asp-controller="Admin" asp-route-id="@Model.ContatoId"><i class="fa fa-trash"></i> Deletar</a>
<br />
<hr />



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
       }