@model com.cake_lovers.www.Models.ModelView.CarrinhoModel

@{
    ViewData["Title"] = "Comprar";
}

<div class="text-center">
      <div class="figure-container">
        <img src="~/images/logo2.jpg" class="img-fluid image-opacity" alt="Logo da Loja" style="height: 120px;">
    </div>
    <h2 class="display-5">Cake-Lovers</h2>
</div>


<div class="col-3">
    <label>Filtro</label>
    <select>
        <option value="Promocao">Todos</option>
        <option value="Promocao">Promoção</option>
        <option value="Tematico">Temáticos</option>
        <option value="MaisVendido">MaisVendidos</option>
        <option value="Saudavel">Saudável</option>
        <option value="Restricao">Restrição</option>
        <option value="Premium">Premium</option>
    </select>
</div>

<div class="row mt-5 gx-5 row-cols-1 row-cols-md-3 g-4">


    @for (int i = 1; i <= 12; i++)
    {
        string foto = ((uint)i) + ".jpg";
        <div class="col gy-5">
            <div class="card h-100">
                <img src="~/Images/cupcakes/@foto" class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mais vendidos</h5>
                    <p class="card-text fs-5"></p>
                </div>
                <div class="card-footer justify-content-center">
                    <button class="btn btn-danger">Comprar</button>
                </div>
            </div>
        </div>
    }
   
</div>