@model com.cake_lovers.www.Models.ModelView.CarrinhoModel

@{
    ViewData["Title"] = "Comprar";
    //var filtro = TempData["Filtro"] as string;
}
@*<p>@TempData["Categoria"]</p>
*@<div class="text-center">
    <div class="figure-container">
        <img src="~/images/logo2.jpg" class="img-fluid image-opacity" alt="Logo da Loja" style="height: 120px;">
    </div>
    <h2 class="display-5">Cake-Lovers</h2>
</div>

<div class="row mt-5 gx-5 row-cols-1 row-cols-md-3 g-4">

    @foreach (var p in Model?.Produtos ?? Enumerable.Empty<Produto>())
    {
        <div class="col gy-5">
            <div class="card h-100">
                <img src="@p.ImagePath" class="d-block w-100" alt="..." height="300">
                     <partial name="ProductSummary" model="p" />
            </div>
        </div>
    }
</div>

 <div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
 page-class="btn" page-class-normal="btn-outline-dark"
 page-class-selected="btn-primary" page-url-category="@Model?.CurrentCategory!"
 class="btn-group pull-right m-1">
 </div>