@page


<div class="text-center">
    <div class="figure-container">
        <img src="~/images/logo2.jpg" class="img-fluid image-opacity" alt="Logo da Loja" style="height: 120px;">
    </div>
    <h2 class="display-5">Cake-Lovers</h2>
</div>

<div class="text-center mt-5">
    <h1 class="mb-5">Obrigado pelo contato!</h1>
    <h3 class="mb-2">O Responderemos a sua mensagem o mais breve possível nos canais de informação que enviou.</h3>
    <a class="btn btn-primary" asp-controller="Home">Retornar às Compras</a>
</div>

}